<div class="table">
    <table>
        <thead>
            <tr>
                <th *ngFor="let item of dataFormat | keyvalue">
                    {{ item.value.title }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reading of displayData; let i = index" [attr.data-index]="i">
                <td *ngFor="let item of dataFormat | keyvalue" id="{{item}}-{{i}}">
                    {{ reading[ item.key ] }}
                </td>
            </tr>
        </tbody> 
    </table>
    <ul class="pagination" *ngIf="pages>1">
        <li><button [disabled]="page==1" (click)="changePage(page-1)"><</button></li>
        <li><button disabled>{{page}} of {{pages}}</button></li>
        <li><button [disabled]="page==pages"(click)="changePage(page+1)">></button></li>
    </ul>
</div>