@import "../../styles/variables.scss";

.table {
    font-size: 0.9em;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    table {
        border-collapse: collapse;
        max-width: $screen-width-large;
        table-layout: fixed;
    }

    th {
        font-size: 1em;
        border-bottom: 1.5px solid $transparent-grey-dark;
        margin-bottom: 0.2em;
        position: sticky;
        -moz-box-shadow: 0px 2px 1px -1px $transparent-grey-dark;
        -webkit-box-shadow: 0px 2px 1px -1px $transparent-grey-dark;
        box-shadow: 0px 2px 1px -1px $transparent-grey-dark;
        top: 0;
    }

    th,
    td {
        background: white;
        white-space: nowrap;
        text-align: left;
        padding: 0.4em 0.4em;
        border-left: 1px solid $transparent-grey;
        border-right: 1px solid $transparent-grey;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    td {
        color: $medium-grey;
    }

    ul {
        position: fixed;
        z-index: 1;
        bottom: 0;
        display: flex;
        width: 100%;
        margin: 0.5em;
        justify-content: center;

        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
    button {
        min-width: 3em;
        line-height: 2em;
        text-transform: none;
    }

    @media (max-width: $screen-width-med-large) {
        font-size: 0.75em;
        th {
            font-size: 0.9em;
            margin-bottom: 0.1em;
        }
        th,
        td {
            padding: 0.2em 0.2em;
        }
    }

    @media (max-width: $screen-width-med) {
        font-size: 0.5em;
        th {
            font-size: 0.6em;
        }
        th,
        td {
            padding: 0.1em 0.1em;
        }
    }
}
