$screen-width-large: 1024px;
$screen-width-med-large: 980px;
$screen-width-med: 760px;
$screen-width-small: 480px;


$light-grey: rgb(213, 213, 213);
$medium-grey: rgb(93, 92, 92);
$transparent-grey: rgba(213, 213, 213, 0.7);
$transparent-grey-dark: rgba(105, 104, 104, 0.7);
$transparent-white: rgba(255,255,255,0.8);
