@import "../styles/variables.scss";

.app-body {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  border-bottom: solid 1px $light-grey;

  h1 {
    text-transform: uppercase;
    width: 256px;
    color: $light-grey;
    font-size: 3em;
  }

  @media (max-width: $screen-width-med-large) {
    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }
    flex-direction: column;
    padding: 1em;
  }

  @media (max-width: $screen-width-med) {
    h1 {
      font-size: 2em;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  margin: 0 auto;
  padding: 2em 1em;
  min-width: $screen-width-small;
  max-width: $screen-width-large;
  flex-direction: column;
  align-items: center;
}

.table-container {
  overflow-y: scroll;
  flex: 1;
  max-height: 65%;
  position: absolute;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 1.5px solid $transparent-grey-dark;
  @media (max-width: $screen-width-med-large) {
    max-height: 55%;
  }
  @media (max-width: $screen-width-med) {
    max-height: 40%;
  }
}
