<div class="app-body">
  <!-- Header -->
  <div class="header">
    <h1>
      {{title}}
    </h1>
    <options-bar [handleSortData]="sortData" [handleFilterData]="filterData" [handleSetView]="setView" [viewState]="viewState"></options-bar>
  </div>

  <!-- Data -->
  <div class="content" role="main">
    <div class="table-container">
      <app-table [data]="sensorData" [hidden]="viewState!='ALL'" dataKey="ALL"></app-table>
      <app-table class="table-overlay" *ngIf="viewState=='MEDIAN_VALUES'" [data]="medianData" dataKey="MEDIAN_VALUES"> </app-table>
    </div>
  </div>
</div>