<div class="options-bar">
    <div class="action-container">
        <h4>Filter</h4>
        <div class="actions">
            <div class="filter">
                <label>Name: </label>
                <input type="text" id="name" (keyup)="onFilterChange($event)" autocomplete="off"
                    [disabled]="viewState!='ALL'" [value]="filters.name || ''" />
            </div>
            <div class="filter">
                <label>Sensor Type: </label>
                <input type="text" id="sensor_type" (keyup)="onFilterChange($event)" autocomplete="off"
                    [disabled]="viewState!='ALL'" [value]="filters.sensor_type || ''" />
            </div>
            <button type="button" (click)="loadFilters()" [disabled]="viewState!='ALL'">Filter</button>
            <button type="button" (click)="resetFilters()" [disabled]="viewState!='ALL'">Reset</button>
        </div>
    </div>
    <div class="action-container">
        <h4>Sort</h4>
        <div class="actions">
            <button type="button" (click)="handleSortData('reading_ts')" [disabled]="viewState!='ALL'">By Date</button>
            <button type="button" (click)="handleSortData('sensor_type')" [disabled]="viewState!='ALL'">By Sensor
                Type</button>
        </div>
    </div>
    <div class="action-container">
        <h4>Select View</h4>
        <div class="actions">
            <button type="button" (click)="setView('ALL')" [disabled]="viewState=='ALL'">
                All Data
            </button>
            <button type="button" (click)="setView('MEDIAN_VALUES')" [disabled]="viewState=='MEDIAN_VALUES'">
                Median Values
            </button>
        </div>
    </div>
</div>