@import "../../styles/variables.scss";
.options-bar {
    display: flex;
    flex: 1;
    justify-content: space-between;

    h4 {
        padding: 0.5em 0;
        color: $medium-grey;
        border-bottom: solid 1px $light-grey;
    }
    label {
        color: $medium-grey;
    }
    button {
        min-width: 128px;
    }

    .action-container {
        padding: 0 1em;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .actions {
        display: flex;
        flex-direction: column;
    }
    .filter {
        font-size: 1em;
        width: 256px;
        display: flex;
        justify-content: space-between;
        input {
            width: 60%;
        }
        margin-bottom: 0.5em;
    }

    @media (max-width: $screen-width-med) {
        flex-direction: column;
        font-size: 1em;
        .action-container {
            padding: 0;
        }
        button {
            font-size: 0.7em;
            min-width: 64px;
        }
    }
}
