@import "styles/normalize.scss";
@import "styles/variables.scss";
/*
    Application global styles
*/

* {
    font-family: Arial;
}

button {
    background: white;
    border: solid 1px $transparent-grey;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 500;
    white-space: nowrap;
    background: transparent;
    transition: 0.2s;
    margin-bottom: 0.5em;
    &:hover:enabled {
        background: $transparent-grey-dark;
        color: white;
        cursor: pointer;
    }
}